@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Epilogue", sans-serif;
}

/* nav */

body {
  background-color: var(--Almost-White);
}

nav {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 6fr 1.2fr;
  align-items: center;
}

.nav-links-wrapper {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.nav-links {
  display: flex;
  padding: 0rem 1rem;
}

a {
  text-decoration: none;
  color: var(--Almost-Black);
}

a:hover {
  cursor: pointer;
}

.login {
  background-color: var(--Almost-White);
  border: none;
  padding: 0px 2rem;
  cursor: pointer;
}

.register {
  background-color: var(--Almost-White);
  border-radius: 1px solid var(--Almost-Black);
  padding: 0.75rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

/* main section */

.main-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
