@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
  --ff-primary: "Epilogue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--Almost-White);
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1;
}

h1,
h2,
h3,
p {
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}

.fc-gray {
  color: var(--Medium-Gray);
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.7);
}

@media all and (max-width: 1430px) {
  nav,
  section {
    padding: 2rem 0;
  }

  .container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
  }

  /* sidebar */

  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .aside {
    position: absolute;
    right: 2rem;
    cursor: pointer;
  }

  .sidebar {
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 240px;
    background-color: var(--Almost-White);
    padding-top: 3rem;
    z-index: 99;
    transform: translateX(100%);
    transition: all 350ms ease-in-out;
  }

  .sidebar[data-visible="true"] {
    transform: translateX(0%);
  }

  .sidebar .close {
    position: absolute;
    bottom: 94%;
    left: 80%;
    cursor: pointer;
  }

  /* nav-links */

  .nav-list {
    line-height: 2.5;
  }

  .nav-list li {
    position: relative;
    transform: translateX(-5%);
    list-style: none;
  }

  .nav-list a {
    text-decoration: none;
    color: var(--Almost-Black);
  }

  .nav-list .nav-links button {
    display: flex;
    background-color: var(--Almost-White);
    flex-flow: row nowrap;
    align-items: center;
    border: none;
    font-family: var(--ff-primary);
    font-size: 18px;
    padding: 1rem 0;
  }

  .nav-list .nav-links .arrow-downF {
    padding-left: 1rem;
  }

  .nav-list .nav-links .arrow-upF {
    padding-left: 1rem;
  }

  .nav-list .nav-links .arrow-downC {
    padding-left: 1rem;
  }

  .nav-list .nav-links .arrow-upC {
    padding-left: 1rem;
  }

  .nav-list .nav-links .nav-links-dropdown {
    display: flex;
  }

  .nav-list .nav-links .nav-links-dropdown .nav-links-dropdown-feature {
    opacity: 0;
    height: 0;
    transform: translateY(-10px);
    transition: all 0.5s ease-in-out;
  }

  .nav-list .nav-links .nav-links-dropdown .dropdown {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transform: translateX(-10%);
  }

  .nav-list .nav-links .nav-links-dropdown-company {
    opacity: 0;
    height: 0;
    transform: translateY(-10px);
    transition: all 0.5s ease-in-out;
  }

  .nav-list
    .nav-links
    .nav-links-dropdown
    .nav-links-dropdown-feature[data-visible="true"],
  .nav-list
    .nav-links
    .nav-links-dropdown
    .nav-links-dropdown-company[data-visible="true"] {
    opacity: 1;
    height: 100%;
    transform: translateY(0%);
  }

  .nav-list .nav-links .nav-links-dropdown .dropdown .links {
    font-size: 18px;
  }

  .nav-list .nav-links .nav-links-dropdown .dropdown .dropdown-img {
    padding-right: 1rem;
  }

  .active {
    display: none;
  }

  /* hero */
  .img-heroD {
    display: none;
  }

  .img-heroM {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .low-brightness {
    filter: brightness(30%);
  }

  /* main-section */

  section h1 {
    font-size: 35px;
  }

  section p {
    font-size: 16px;
  }

  .learn-more {
    padding: 0.7rem 1.8rem;
    font-size: 18px;
    font-weight: 500;
    background-color: black;
    color: var(--Almost-White);
    border-radius: 15px;
    cursor: pointer;
    border: none;
  }

  .sec-img-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    place-items: center;
  }

  .client-img {
    padding-top: 3rem;
  }

  .login-register {
    display: none;
  }
}

@media all and (min-width: 1440px) {
  nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .navbar {
    padding-top: 0.2rem;
    display: grid;
    grid-template-columns: 0.5fr 4fr 4fr;
  }

  .container {
    margin-inline: 5%;
  }

  .sidebar .close {
    display: none;
  }

  /* nav-links */

  .nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .nav-list .nav-links {
    align-self: center;
    justify-self: center;
  }

  .nav-list .nav-links .links,
  .nav-list .nav-links .links-name {
    transition: all 0.3s ease;
    color: var(--Medium-Gray);
  }

  .nav-list .nav-links .links:focus {
    color: var(--Almost-Black);
  }
  .nav-list .nav-links .links-name:hover {
    color: var(--Almost-Black);
  }

  .nav-list li {
    position: relative;
    list-style: none;
  }

  .nav-list a {
    text-decoration: none;
    color: var(--Almost-Black);
  }

  .nav-list .nav-links button {
    display: flex;
    background-color: var(--Almost-White);
    flex-flow: row nowrap;
    align-items: center;
    border: none;
    font-family: var(--ff-primary);
    font-size: 18px;
    padding: 1rem 0;
  }

  .nav-list .nav-links .arrow-downF {
    padding-left: 1rem;
  }

  .nav-list .nav-links .arrow-upF {
    padding-left: 1rem;
  }

  .nav-list .nav-links .arrow-downC {
    padding-left: 1rem;
  }

  .nav-list .nav-links .arrow-upC {
    padding-left: 1rem;
  }

  .nav-list .nav-links .nav-links-dropdown.right {
    position: absolute;
    right: 0;
    top: 120%;
  }

  .nav-list .nav-links .nav-links-dropdown.left {
    position: absolute;
    left: 0;
    top: 120%;
  }

  .nav-list .nav-links .nav-links-dropdown .nav-links-dropdown-feature {
    opacity: 0;
    height: 0;
    transform: translateY(-10px);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
    padding: 1rem 2rem;
    border-radius: 10px;
    line-height: 2.2rem;
  }

  .nav-list .nav-links .nav-links-dropdown .dropdown {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: left;
    transform: translateX(-10%);
  }

  .nav-list .nav-links .nav-links-dropdown-company {
    opacity: 0;
    height: 0;
    transform: translateY(-10px);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    line-height: 2.2rem;
    min-width: 148px;
  }

  .nav-list
    .nav-links
    .nav-links-dropdown
    .nav-links-dropdown-feature[data-visible="true"],
  .nav-list
    .nav-links
    .nav-links-dropdown
    .nav-links-dropdown-company[data-visible="true"] {
    opacity: 1;
    height: 100%;
    transform: translateY(0%);
  }

  .nav-list .nav-links .nav-links-dropdown .dropdown .links {
    transition: all 0.3s ease;
    font-size: 18px;
  }

  .nav-list .nav-links .nav-links-dropdown .dropdown .links:hover {
    color: var(--Almost-Black);
  }

  .nav-list .nav-links .nav-links-dropdown .dropdown .dropdown-img {
    padding-right: 1rem;
  }

  .login-register {
    justify-self: end;
  }

  .login-register .login,
  .login-register .register {
    padding: 0.75rem 1.75rem;
    background-color: var(--Almost-White);
    cursor: pointer;
  }

  .login-register .login {
    border: none;
  }

  .login-register .register {
    border-radius: 12px;
    border-color: var(--Almost-Black);
  }

  .active {
    display: none;
  }

  /* hero */
  .img-heroM {
    display: none;
  }

  .img-heroD {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  .low-brightness {
    filter: brightness(30%);
  }

  /* main-section */

  .main-sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }

  .sec-text {
    padding-top: 9rem;
    padding-left: 9rem;
    grid-row: 1;
    display: flex;
    flex-direction: column;
  }

  section h1 {
    text-align: left;
    font-size: 72px;
    margin-bottom: 0.5em;
  }

  section h1.narrow {
    max-width: 30rem;
  }

  section p {
    text-align: left;
    font-size: 16px;
    margin-bottom: 36px;
  }

  section p.narrow {
    max-width: 25rem;
  }

  .learn-more {
    padding: 1rem 1.75rem;
    max-width: 170px;
    font-size: 18px;
    font-weight: 500;
    background-color: black;
    color: var(--Almost-White);
    border-radius: 15px;
    cursor: pointer;
    border: none;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
  }

  .learn-more:hover {
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
    border: 1px solid var(--Almost-Black);
  }

  .sec-img-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    place-items: center;
  }

  .client-img {
    padding-top: 3rem;
  }

  .aside {
    display: none;
  }
}
